= simple_form_for(@cliente) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :dataNascimento, label: "Data de Nascimento"
    = f.input :rg
    = f.input :cpf
    = f.input :telefone
    = f.input :login
    = f.input :senha, as: :password

  .form-actions
    = f.submit "Salvar"
