%h1 Listagem de Clientes

%table
  %thead
    %tr
      %th Nome
      %th Data de Nascimento
      %th Rg
      %th Cpf
      %th Telefone
      %th
      %th
      %th

  %tbody
    - @clientes.each do |cliente|
      %tr
        %td= cliente.nome
        %td= cliente.dataNascimento
        %td= cliente.rg
        %td= cliente.cpf
        %td= cliente.telefone
        %td= link_to 'Visualizar', cliente
        %td= link_to 'Editar', edit_cliente_path(cliente)
        %td= link_to 'Excluir', cliente, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

= link_to 'Cadastrar Cliente', new_cliente_path
