%h1 Listagem de Exercícios

%table
  %thead
    %tr
      %th Nome
      %th
      %th
      %th

  %tbody
    - @exercicios.each do |exercicio|
      %tr
        %td= exercicio.nome
        %td= link_to 'Visualizar', exercicio
        %td= link_to 'Editar', edit_exercicio_path(exercicio)
        %td= link_to 'Excluir', exercicio, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

= link_to 'Cadastrar Exercício', new_exercicio_path
