%h1 Listing exercicios

%table
  %thead
    %tr
      %th Nome
      %th
      %th
      %th

  %tbody
    - @exercicios.each do |exercicio|
      %tr
        %td= exercicio.nome
        %td= link_to 'Show', exercicio
        %td= link_to 'Edit', edit_exercicio_path(exercicio)
        %td= link_to 'Excluir', exercicio, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exercicio', new_exercicio_path
