= simple_form_for(@exercicio_serie) do |f|
  = f.error_notification

  .form-inputs
    = f.association :serie, label: "Série", label_method: :nome
    = f.association :exercicio, label: "Exercício", label_method: :nome
  <br>
  .form-actions
    = f.submit "Salvar"
  <br>
