%h1 Listagem de Exercícios das Séries

%table
  %thead
    %tr
      %th Série
      %th Exercício
      %th
      %th
      %th

  %tbody
    - @exercicio_series.each do |exercicio_serie|
      %tr
        %td= exercicio_serie.serie.nome
        %td= exercicio_serie.exercicio.nome
        %td= link_to 'Visualizar', exercicio_serie
        %td= link_to 'Editar', edit_exercicio_serie_path(exercicio_serie)
        %td= link_to 'Excluir', exercicio_serie, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

= link_to 'Cadastrar Exercício na Série', new_exercicio_serie_path
