= simple_form_for(@avaliacao) do |f|
  = f.error_notification

  .form-inputs
    = f.input :peso
    = f.input :altura
    = f.input :percentualGordura, label: "Percentual de Gordura"
    = f.input :imc
    = f.association :cliente, label_method: :nome
  <br>
  .form-actions
    = f.submit "Salvar"
  <br>
