%h1 Listagem de Séries

%table
  %thead
    %tr
      %th Nome
      %th Duração
      %th Cliente
      %th
      %th
      %th

  %tbody
    - @series.each do |serie|
      %tr
        %td= serie.nome
        %td= serie.duracao
        %td= serie.cliente.nome
        %td= link_to 'Visualizar', serie
        %td= link_to 'Editar', edit_serie_path(serie)
        %td= link_to 'Excluir', serie, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

= link_to 'Cadastrar Série', new_serie_path
