%h1 Listing series

%table
  %thead
    %tr
      %th Nome
      %th Duração
      %th Cliente
      %th
      %th
      %th

  %tbody
    - @series.each do |serie|
      %tr
        %td= serie.nome
        %td= serie.duracao
        %td= serie.cliente.nome
        %td= link_to 'Show', serie
        %td= link_to 'Edit', edit_serie_path(serie)
        %td= link_to 'Excluir', serie, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Serie', new_serie_path
