%p#notice= notice

%p
  %b Nome:
  = @serie.nome
%p
  %b Duração:
  = @serie.duracao
%p
  %b Cliente:
  = @serie.cliente.nome

= link_to 'Editar', edit_serie_path(@serie)
\|
= link_to 'Voltar', series_path
