%ul.nav
  %li= link_to 'Home', root_path
  %li= link_to 'Avaliações', avaliacoes_path
  %li= link_to 'Clientes', clientes_path
  %li= link_to 'Exercícios das Séries', exercicio_series_path
  %li= link_to 'Exercícios', exercicios_path
  %li= link_to 'Séries', series_path
  = render 'layouts/navigation_links'
